@import "variables.scss";

$font-family_1: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;

* {
    box-sizing: border-box;
    font-family: $font-family_1;
}
html {
    width: 100vw;
}
body {
    padding: 0;
    margin: 0;
    background: $body-color;
    // background-image: radial-gradient(#111822, $primary-color);

    background-image: radial-gradient(
            circle at center,
            hsla(232, 100%, 75%, 0.012),
            hsla(232, 100%, 75%, 0.012),
            transparent
        ),
        linear-gradient(to right, hsla(232, 100%, 75%, 0.01), transparent),
        linear-gradient(to bottom, hsla(232, 100%, 75%, 0.01), transparent);

    background-attachment: fixed;
    background-color: hsl(
        232,
        20%,
        7%
    ); /* Modify to better match your desired base color */
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: $text-color;
    overflow-x: hidden;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 3rem;
    font-size: 1.5rem;
    border-style: solid;
    border-radius: 40px;
    border-width: 0;
    // background-color: $accent-color;
    background: linear-gradient(
        to right,
        hsl(350, 100%, 59%),
        hsl(330, 100%, 59%)
    );
    color: white;
    cursor: pointer;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    &.secondary {
        color: $primary-color;
        border-color: white;
        background: $body-color;
    }
    &:hover {
        background: white;
        color: $primary-color;
    }
}
