@import "variables.scss";
@import 'primeicons/primeicons.css';

* {
    box-sizing: border-box;
}
html {
    width: 100vw;
}
body {
    padding: 0;
    margin: 0;
    background: $body-color;
    // background-image: radial-gradient(#111822, $primary-color);

    background-image: radial-gradient(
            circle at center,
            hsla(232, 100%, 75%, 0.012),
            hsla(232, 100%, 75%, 0.012),
            transparent
        ),
        linear-gradient(to right, hsla(232, 100%, 75%, 0.01), transparent),
        linear-gradient(to bottom, hsla(232, 100%, 75%, 0.01), transparent);

    background-attachment: fixed;
    background-color: hsl(
        232,
        20%,
        7%
    ); /* Modify to better match your desired base color */
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: $text-color;
    overflow-x: hidden;
}
